<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 13/09/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <title>Aula 1 - Prog IV</title>
</head>
<body>
    <h1>Página inicial "/", listagem dos itens, sucesso na criação do usuário, etc. <!--<h1>Olá Mundo! retirar o espaço... pra funcionar com localhost:3000/nome, ex "kaua": < %=nome%>!</h1>--></h1>
    <br>
    <h3>© Kauã Maia, 2021 - Contato <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
</body>
</html>