<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 04/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuários</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            width: 400px;
            padding: 1.2em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        label {
            width: 90px;
            display: inline-block;
            text-align: right;
        }

        input {
            border: 1px solid #999;
            margin-top: 3px;
            width: calc(100% - 105px);
        }

        input:focus {
            border-color: #000;
        }

        #fotoInp {
            width: calc(100% - 101px);
        }

        #addInp {
            width: 100%;
            margin: 1 auto;
            display: flex;
        }
    </style>
</head>
<body>
    <!--<h1>Olá Mundo! retirar o espaço... pra funcionar com localhost:3000/nome, ex "kaua": < %=nome%>!</h1>-->
    <h3>Adicionar Usuários</h3>

    <form method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <label>Nome:&ensp;</label><input type="text" name="nome" placeholder="Digite seu nome" />
            </li>
            <li>
                <label>E-mail:&ensp;</label><input type="email" name="email" placeholder="Digite seu e-mail" />
            </li>
            <li>
                <label>Senha:&ensp;</label><input type="password" name="senha" placeholder="Digite sua senha" />
            </li>
            <li>
                <label>Foto:&ensp;</label><input id="fotoInp" type="file" name="foto" />
                <input id="addInp" type="submit" value="Adicionar Usuário" />
            </li>
        </ul>
    </form>
</body>
</html>