<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @maiakauaa
        * PROGRAMAÇÃO IV
        * 13/09/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 1 - Prog IV</title>
</head>
<body>
    <h1>Olá Mundo! <!-- retirar o espaço... pra funcionar com localhost:3000/nome, ex "kaua": < %=nome%>!--></h1>
</body>
</html>