<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 28/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    <title>Página Inicial</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        span {
            margin: 1px;
            padding: 10px;
            font-size: 18px;
            display: inline-block;
        }

        a:hover, span:hover {
            color: blue;
        }

        #mensagem {
            color: red;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/usuarios">Acesse o subsistema Usuários aqui</a></span><span><a href="/admin/livros">Acesse o subsistema Livros aqui</a></span><span style="float: right;"><a href="/admin/sair">Sair</a></span>
        <br>
        <h4>Usuário logado: <%=logado.nome%>, <%=logado.email%></h4> 
    </nav>
    <header>
        <h1>Página inicial<h1>
    </header>
    <article>
        <p>para projetos futuros... usar o código deste projeto como base (crud básico, autenticação, error handlers (HTTP, BD), timeout, grupos com permissões, redirecionamento após login (rotas), entre outras coisas, muito funcional)</p>
        <p>e 1: achar um template design</p>
        <hr>
        <h3 id="mensagem">
            <% if (msg){ %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato: <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
    </footer>
</body>
</html>