<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 28/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        span {
            margin: 1em;
            padding: 4px;
            display: inline-block;
        }

        a:hover, span:hover {
            color: blue;
            font-weight: 600;
        }

        #mensagem {
            color: red;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/usuarios">Acesse o subsistema Usuários aqui</a></span><span><a href="/admin/livros">Acesse o subsistema Livros aqui</a></span>
    </nav>
    <header>
        <h1>Página inicial "/admin"<h1>
    </header>
    <article>
        <p>para projetos futuros... usar esse código como base, E: corrigir a estrutura HTML das outras páginas (NAV, HEADER, ARTICLE, FOOTER), link (botões ou imagens) para páginas (usuários e livros) ou background-image ou design, descrição do projeto, anexar algo típico de painel administrativo -> esta sendo a página inicial, e as outras, secundárias, pra gerenciamento somente de partes segmentadas do sistema; adicionar error handling, login, timeout; bem como não deixar o usuário admin deletar a si mesmo, deletar as imagens dos usuários na mesma hora em que são deletados, e, claro, CRIPTOGRAFAR OS DADOS!!!!! PRINCIPALMENTE AS SENHAS!!!!! salt algorithms and what not. de resto, há um crud básico, com autenticação, muito funcional.</p>
        <hr>
        <h3 id="mensagem">
            <% if ( msg ) { %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato <a href="https://github.com/bainloko">Github.com/bainloko</a></h3>
    </footer>
</body>
</html>