<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 04/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <title>Painel Administrativo</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        a:hover, span:hover {
            color: blue;
        }

        form {
            width: 600px;
            padding: 1.1em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        h3 {
            margin-top: -1px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        label {
            width: 130px;
            display: inline-block;
            text-align: right;
            font-size: 21px;
        }

        input {
            border: 1px solid #999;
            margin-top: 3px;
            width: calc(100% - 155px);
            font-size: 14px;
            display: inline-block;
        }

        input:focus {
            border-color: #000;
        }

        #fotoInp {
            width: calc(100% - 151px);
        }

        #addInp {
            width: 100%;
            margin: 1 auto;
            display: flex;
        }

        .obrigatorio {
            color: red;
            font-weight: 1000;
            padding-right: 0;
        }

        span {
            padding-right: 10px;
            display: inline-block;
        }

        #acoes {
            text-decoration: none;
        }

        select {
            margin-top: 5px;
            margin-left: -5px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/usuarios">Para ir à listagem dos usuários...</a></span><span><a href="/admin">Voltar para a página inicial</a></span><span style="float: right;"><a href="/admin/sair">Sair</a></span>
        <br>
        <h4>Usuário logado: <%=logado.nome%>, <%=logado.email%></h4> 
    </nav>
    <header>
        <h1>Adicionar Usuários</h1>
    </header>
    <article>
        <form method="post" enctype="multipart/form-data">
            <h3>Novo Usuário</h3>
            <h3>Nos campos onde há '<span class="obrigatorio">*</span>', o preenchimento é obrigatório!</h5>
            <ul>
                <li>
                    <span class="obrigatorio">*</span><label>Nome:&ensp;</label><input type="text" name="nome" placeholder="Digite seu nome" required />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>E-mail:&ensp;</label><input type="email" name="email" placeholder="Digite seu e-mail" required />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Senha:&ensp;</label><input type="password" name="senha" placeholder="Digite sua senha" required />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Foto:&ensp;</label><input id="fotoInp" type="file" name="foto" required />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Permissão:&ensp;</label>
                    <select name="permissao" required>
                        <option disabled hidden selected>Selecione uma permissão</option>
                        <% if (logado.permissao == "admin"){ %>
                        <option value="admin">Administrador</option>
                        <option value="funcionario">Funcionário</option>
                        <option value="user">Usuário</option>
                        <% } else if (logado.permissao == "funcionario"){ %>
                        <option value="user">Usuário</option>
                        <% } else { %>
                        <%="Ops..."%>
                        <% } %>
                    </select>
                    <input id="addInp" type="submit" value="Adicionar Usuário" />
                </li>
            </ul>
        </form>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato: <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
    </footer>
</body>
</html>