<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 04/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        form {
            width: 700px;
            padding: 1.1em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        label {
            width: 90px;
            display: inline-block;
            text-align: right;
            font-size: 21px;
        }

        input {
            border: 1px solid #999;
            margin-top: 3px;
            width: calc(100% - 105px);
            font-size: 14px;
        }

        input:focus {
            border-color: #000;
        }

        #fotoInp {
            width: calc(100% - 102px);
        }

        #addInp {
            width: 100%;
            margin: 1 auto;
            display: flex;
        }

        .obrigatorio {
            color: red;
            font-weight: 1000;
        }
    </style>
</head>
<body>
    <h1>Adicionar Usuários</h1>
    <span><a href="/admin">Voltar para a página inicial</a></span>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
        <h3>Adicionar Usuários</h3>
        <h3>Nos campos onde há '*', o preenchimento é obrigatório!</h5>
        <ul>
            <li>
                <span class="obrigatorio">*</span><label>Nome:&ensp;</label><input type="text" name="nome" placeholder="Digite seu nome" />
            </li>
            <li>
                <span class="obrigatorio">*</span><label>E-mail:&ensp;</label><input type="email" name="email" placeholder="Digite seu e-mail" />
            </li>
            <li>
                <span class="obrigatorio">*</span><label>Senha:&ensp;</label><input type="password" name="senha" placeholder="Digite sua senha" />
            </li>
            <li>
                <span class="obrigatorio">*</span><label>Foto:&ensp;</label><input id="fotoInp" type="file" name="foto" />
                <input id="addInp" type="submit" value="Adicionar Usuário" />
            </li>
        </ul>
    </form>
</body>
</html>